@model Application.Models.DoctorViewModel

<div class="card">
    <div class="card-body">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>


        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Name" class="ignore control-label"></label>
                <input asp-for="Name" class="ignore form-control"/>
                <span asp-validation-for="Name" class="ignore text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control"/>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control"/>
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
        </div>

    </div>
</div>
<label asp-for="Address" class="p-2"></label>
@Html.EditorFor(m => m.Address, "~/Views/Partial/Done/Address.cshtml")