
.vs/Application/DesignTimeBuild/.dtbcache
.vs/Application/v16/.suo
*.lock
.vs/Application/DesignTimeBuild/.dtbcache
.vs/Application/v16/.suo
*.lock
.vs/Application/v16/Server/sqlite3/storage.ide
.vs/Application/v16/Server/sqlite3/storage.ide-shm
