@model Application.ViewModels.MemberViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form asp-controller="Wizard" asp-action="MemberKin" method="post">
    
    @Html.HiddenFor(m=>m.SRU)

    @Html.EditorFor(m => m.Player.SeniorPlayer.Kin, "~/Views/Partial/AddOrEdit/Kin.cshtml")

    <div class="form-row">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-primary " id="btnSave"/>
            </div>
        </div>
    </div>


</form>
