@using Application.Data.Models
@model Application.ViewModels.MemberViewModel

<link href="~/css/Forms.css" rel="stylesheet" type="text/css"/>
<link href="~/css/Tabs.css" rel="stylesheet" type="text/css"/>


<div class="row">
    <div class="col">

        <form method="post">
            
            <section id="tabs" class="project-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Personal</a>
                                    <a class="nav-item nav-link" id="nav-address-tab" data-toggle="tab" href="#nav-address" role="tab" aria-controls="nav-address" aria-selected="false">Address</a>
                                    <a class="nav-item nav-link" id="nav-doctor-tab" data-toggle="tab" href="#nav-doctor" role="tab" aria-controls="nav-doctor" aria-selected="false">Doctor</a>
                                    <a class="nav-item nav-link" id="nav-med-tab" data-toggle="tab" href="#nav-med" role="tab" aria-controls="nav-med" aria-selected="false">Medical</a>
                                    @*   <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Guardians</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Kin</a>*@
                                </div>
                            </nav>
                            <div class="tab-content" id="nav-tabContent">
                                <div class="tab-pane fade show active pt-4" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

                             

                                </div>
                                <div class="tab-pane fade" id="nav-address" role="tabpanel" aria-labelledby="nav-address-tab">
                                    @Html.EditorFor(m => m.Address, "~/Views/Partial/AddOrEdit/Address.cshtml")
                                </div>
                                <div class="tab-pane fade" id="nav-doctor" role="tabpanel" aria-labelledby="nav-doctor-tab">
                                    @Html.EditorFor(m => m.Player.Doctor, "~/Views/Partial/AddOrEdit/Doctor.cshtml")
                                </div>
                                <div class="tab-pane fade" id="nav-med" role="tabpanel" aria-labelledby="nav-med-tab">
                                    @*@Html.EditorFor(m => m.Player.Doctor, "~/Views/Partial/AddOrEdit/Doctor.cshtml")*@
                                    @*  @Html.EditorFor(m => m.Player, "~/Views/Partial/AddOrEdit/HealthIssues.cshtml") *@
                                    

                                    @*for (var i = 0; i < Model.Player.HealthIssues.Count(); i++)
                                    {
                                        @Html.HiddenFor(m => m.Player.HealthIssues[i])
                                    }*@


                                    <input type="hidden" asp-for="Player.HealthIssues"  name="ID" />


                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </section>



         
        </form>
    </div>
</div>

@*
<script>
    window.jQuery(document).ready(function () {
        $('#btnSave').click(function () {

            var frm = $("form");
            var data = new FormData($("form")[0]);
            debugger;
            $.ajax({
                url: '/Member/Add',
                type: "POST",
                processData: false,
                data: data,
                dataType: 'json',
                contentType: false,
                success: function (response) {
                    alert(response);
                },
                error: function (er) { }
            });
            return false;
        });

    });
</script> *@