@model Application.ViewModels.Test


<div class="col-md-6">
    <partial name="../Partial/Address.cshtml" for="address" />
</div>

<a href="#" id="CreateNew">Create</a>

<div id="DivCreateView"></div>
